@use 'sass:meta';
@use 'variables';

@layer reset, base, utilities, components;

@layer reset {
	@include meta.load-css('normalize');
}

@layer base {
	:root {
		--breakpoint-xs: variables.$breakpoint-xs;
		--breakpoint-sm: variables.$breakpoint-sm;
		--breakpoint-md: variables.$breakpoint-md;
		--breakpoint-lg: variables.$breakpoint-lg;
		--breakpoint-xl: variables.$breakpoint-xl;
		--breakpoint-2xl: variables.$breakpoint-2xl;
		--breakpoint-3xl: variables.$breakpoint-3xl;
	}

	html {
		font-size: 100%;
	}

	body {
		background-color: #eeeeec;
	}

	main {
		padding: 0 0.5rem;
	}

	@media (width >= variables.$breakpoint-3xl) {
		html {
			font-size: 150%;
		}
	}
}

@layer utilities {
	.sr-only {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		border: 0;
	}

	.text-center {
		text-align: center;
	}
}

@layer components {
	.article {
		margin: 1rem auto;

		@include meta.load-css('md_defaults');

		& > :not(.full-width) {
			margin-left: auto;
			margin-right: auto;
			max-width: 80ch;
		}
	}
}
