---
import Page from '@content/index.mdx';
import BaseTemplate from '@layouts/BaseTemplate.astro';

const pageMeta = {
	description: 'Max Lee, Front-end engineer and data visualization developer, résumé site',
};
---

<BaseTemplate title="Front-end and Data Visualization Developer" meta={pageMeta}>
	<div class="article">
		<Page />
	</div>
</BaseTemplate>
