---
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Max Lee | {title}</title>
	</head>
	<body class="bg-orange-200 text-gray dark:bg-gray dark:text-Dkorange">
		<slot />
	</body>
</html>
