---
import '@fontsource-variable/newsreader';
import '@styles/base.scss';

interface Meta {
	description: string;
}

interface Props {
	title: string;
	meta: Meta;
}

const { title, meta }: Props = Astro.props;
---

<html lang="en" class="">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={meta.description} />
		<title>Max Lee | {title}</title>
	</head>
	<body>
		<main id="main">
			<slot />
		</main>
	</body>
</html>
