---
import '@fontsource-variable/montserrat';
import '@styles/base.css';

interface Meta {
	description: string;
}

interface Props {
	title: string;
	meta: Meta;
}

const { title, meta }: Props = Astro.props;
---

<html lang="en" class="">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={meta.description} />
		<title>Max Lee | {title}</title>
	</head>
	<body class="bg-orange-200 text-gray dark:bg-gray dark:text-Dkorange">
		<main id="main" class="max-w-4xl mlb-12 mli-auto"><slot /></main>
	</body>
</html>
